* {
    margin: 0px;
  }

  body {
    margin-top: 80px;
    font-family: Georgia, serif;
    font-weight: normal;
    color: #333;
    font-size: 1.75em;
    background: #fff;
  }

.nav-bar {
    background: rgba(255,137,0,1);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    width: 100%;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.nav-logo {
    height: 80px;
}



  

.landing-img {
  background-image: url(../img/3rdfloor.jpg);
  height: 500px;
  width: 100%;
  }

  .grid {
    max-width: 800px;
    margin: 45px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    padding: 20px;
}

.project {
    text-align: center;
    color: #fff;
    padding: 25px;
    background:#5e9eff;
    border-radius: 0.3em;
    box-shadow: 3px 3px 5px #888888;
    text-decoration: none;
}